* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    height: 100vh;
    width: 100vw;
}

header {
    width: 100%;
    padding: 30px;
    nav  {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        .logo {
            img {
                height: 50px;
            }
        }
        ul {
            list-style-type: none;
            display: flex;
            text-transform: uppercase;
            font-weight: 800;
            li {
                padding: 20px;
                cursor: pointer;
            }
        }
        button {
            padding: 10px 30px;
            border: none;
            background-color: #D01C28;
            color: white;
            text-transform: capitalize;
            cursor: pointer;
            font-size: 16px;
        }
    }
}

main {
    margin: 100px auto;
    width: 80%;
    display: flex;
    .left {
       display: flex;
       flex-direction: column;
       gap: 25px;
       width: 50%;
       h1 {
        font-size: 60px;
        font-weight: 900;
       }
       h3 {
        font-size: 16px;
        color: #5A5959;
        font-weight: 500;
        width: 50%;
       }
       .buttons {
        display: flex;
        width: 40%;
        justify-content: space-around;
       }
       .shop-now {
        background-color: #D01C28;
        border: none;
        color: white;
        padding: 10px 20px;
        cursor: pointer;
       }
       .category {
        color: black;
        background-color: transparent;
        padding: 10px 20px; 
        cursor: pointer;
       }
    }
    .right {
        width: 50%;
        img {
            width: 100%;
        }
    }
}
