* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    height: 100vh;
    width: 100vw;
}

header {
    width: 100%;
    padding: 30px;
    nav  {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        .logo {
            img {
                height: 50px;
            }
        }
        ul {
            list-style-type: none;
            display: flex;
            text-transform: uppercase;
            font-weight: 800;
            li {
                padding: 20px;
                cursor: pointer;
            }
        }
        button {
            padding: 10px 30px;
            border: none;
            background-color: #D01C28;
            color: white;
            text-transform: capitalize;
            cursor: pointer;
            font-size: 16px;
        }
    }
}
